@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lpmq";
  src: url(assets/font/lpmq.ttf);
  font-display: swap;
  line-height: 2;
}

@layer utilities {

  u {
    @apply text-slate-800 dark:text-slate-300 font-light
  }
  .router-link-exact-active {
    color: rgba(129, 140, 248, 1);
  }

  .custom-backdrop {
    -webkit-backdrop-filter: blur(2.5px);
    backdrop-filter: blur(2.5px);
  }

  .with-scroll {
    scrollbar-width: thin; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .with-scroll::-webkit-scrollbar-track {
    box-shadow: none !important;
    background-color: transparent !important;
  }

  .with-scroll::-webkit-scrollbar {
    width: 6px !important;
    background-color: transparent;
  }

  .with-scroll::-webkit-scrollbar-thumb {
    @apply bg-sky-500/90 dark:bg-sky-500/75;
    border-radius: 4px;
  }

  .with-transition-fast {
    animation: 0.1s appear;
  }

  .with-transition {
    animation: 0.5s appear;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .card-shadow-sm {
    @apply shadow-lg shadow-slate-200/50 dark:shadow-slate-900/50;
  }

  .card-shadow-md {
    @apply shadow-lg shadow-slate-200 dark:shadow-slate-900;
  }
  .toast-style {
    @apply dark:bg-dark-blue/50 backdrop-blur-sm bg-white/50 !important;
    @apply border-b sm:border border-slate-700/20 dark:border-slate-700/50 shadow-lg shadow-slate-200 dark:shadow-slate-900 !important;
    @apply text-slate-800 dark:text-slate-100 !important;
  }
}


body {
  overflow: overlay;
}

.custom-scroll {
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.custom-scroll::-webkit-scrollbar-track {
  box-shadow: none !important;
  background-color: transparent !important;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px !important;
  background-color: transparent !important;
}

.custom-scroll::-webkit-scrollbar-thumb {
  @apply bg-sky-500/90 dark:bg-sky-500/75;
  border-radius: 4px;
}
