@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lpmq";
  src: url(assets/font/lpmq.ttf);
  font-display: swap;
  line-height: 2;
}

@layer utilities {
  .text-gradien {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-purple-600;
  }

  u {
    @apply text-slate-800 dark:text-slate-300 font-light;
  }

  .router-link-exact-active {
    color: rgba(129, 140, 248, 1);
  }

  .custom-backdrop {
    -webkit-backdrop-filter: blur(2.5px);
    backdrop-filter: blur(2.5px);
  }

  .with-transition-fast {
    animation: 0.1s appear;
  }

  .with-transition {
    animation: 0.5s appear;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .card-shadow-sm {
    @apply shadow-lg shadow-slate-200/50 dark:shadow-slate-900/50;
  }

  .card-shadow-md {
    @apply shadow-lg shadow-sky-600/10 dark:shadow-slate-900;
  }
  .toast-style {
    @apply dark:bg-dark-blue/50 backdrop-blur-sm bg-white/50 !important;
    @apply border-b sm:border border-slate-700/20 dark:border-slate-700/50 shadow-lg shadow-slate-200 dark:shadow-slate-900 !important;
    @apply text-slate-800 dark:text-slate-100 !important;
  }

  .scrollbar-w-2::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }

  .scrollbar-track-blue-lighter::-webkit-scrollbar-track {
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247, 250, 252, var(--bg-opacity));
  }

  .scrollbar-thumb-blue::-webkit-scrollbar-thumb {
    --bg-opacity: 1;
    background-color: #d6e6f7;
    background-color: rgba(237, 242, 247, var(--bg-opacity));
  }

  .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
  }

  .light-scroll {
    @apply scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2;
  }
}

body {
  overflow: overlay;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
